<form [formGroup]="loginForm" class="my-form">
  <h3>Выполните вход</h3>
  <mat-form-field class="my-fields">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="userName" name="username" />
  </mat-form-field>
  <mat-form-field class="my-fields">
    <mat-label>Пароль</mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      name="password"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="userLogin()">Вход</button>
</form>
ы
